
.random-planet {
    display: flex;
    margin-top: 10px;
    width: 700px;
    margin-left: 5px;
    text-align: center;
    justify-content: center;
}


.planet-image {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin: 5px;
}